body{
    background-color: black;
}
#p1{
    color: white;
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid orange;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
}
#dog{
    display: flex;
    justify-content: center;
}
p{
    color: white;
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}